<template name="postEdit" xmlns="http://www.w3.org/1999/html">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="title">Title</label>

            <div class="controls">
                <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post"
                       class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="body">Body</label>

            <div class="controls">
                <textarea name="body" id="body" type="text" value="{{body}}" placeholder="Post content" class="form-control" rows="3"></textarea>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary submit"/>
        <hr/>
        <a class="btn btn-danger delete" href="#">Delete post</a>
    </form>
</template>